{% load static %}
<head>
    <title>Navigation bar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>

<div class="navbar-container">
    <a class="navbar-link" id="home" href="{% url 'index' %}">Home</a>
    <form method="get" action="{% url 'search_results' %}" class="search-form">
        <div class="search-input-container">
            {{ search_form }}
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>

    <div class="bars-icon-container">
        <i class="fa-solid fa-bars" id="menu-icon"></i>
    </div>

    {% block hide_bars_icon %}
        {% if request.path == '/accounts/login/' or request.path == '/accounts/register/' %}
            <style>
                .bars-icon-container {
                    display: none;
                }
            </style>
        {% endif %}
    {% endblock %}

    <div class="navbar-links">
        {% if user.is_authenticated %}
            <a class="navbar-link" id="likes" href="{% url 'liked_events' %}">Likes</a>
            <a class="navbar-link" href="{% url 'user_tickets' pk=user.pk %}">Tickets</a>
            <a class="navbar-link" id="add-event" href="{% url 'event_add' %}">Create an event</a>

            <div class="profile-dropdown">
                <img src="{{ user.profile_picture.url }}" alt="Profile Image" class="navbar-profile-image"
                     id="profile-image">
                <div class="dropdown-content">
                    <a class="navbar-link" href="{% url 'profile_details' pk=request.user.pk %}">Profile</a>
                    <a class="navbar-link" href="{% url 'user_created_events' %}">Your Events</a>
                    <a class="navbar-link" href="{% url 'logout_user' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <!-- Show login and register links only if not on the login or register page -->
            {% if request.path != '/accounts/login/' and request.path != '/accounts/register/' %}
                <a class="navbar-link" id="login" href="{% url 'login_user' %}">Login</a>
                <a class="navbar-link" id="register" href="{% url 'register_user' %}">Register</a>
            {% endif %}
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'scripts/navbar.js' %}"></script>
<script>
    var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
</script>





