{% extends 'base/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
    <body class="login-body">
        <div class="page-container">
            <h1>User Login</h1>

            <div class="form-container">
                <form method="post" action="{% url 'login user' %}">
                    {% csrf_token %}

                    <label for="{{ form.username.id_for_label }}">Username:</label><br>
                    {{ form.username }}<br>

                    <label for="{{ form.password.id_for_label }}">Password:</label><br>
                    {{ form.password }}<br>

                    <button type="submit">Login</button>
                </form>
            </div>

            <p>Don't have an account? <a href="{% url 'register user' %}">Sign up here.</a>.</p>
        </div>
    </body>
{% endblock %}
