{% extends 'base/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
    <body class="login-body">
        <div class="page-container">
            <h1 class="login-heading">User Login</h1>

            <div class="form-container">
                <form method="post" action="{% url 'login_user' %}" class="login-form">
                    {% csrf_token %}

                    <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label><br>
                    {{ form.username }}<br>

                    <label for="{{ form.password.id_for_label }}" class="form-label">Password:</label><br>
                    {{ form.password }}<br>

                    <button type="submit" class="login-button">Login</button>
                </form>
            </div>

            <p class="signup-link">Don't have an account? <a href="{% url 'register_user' %}" class="signup-anchor">Sign up here.</a>.</p>
        </div>
    </body>
{% endblock %}
