{% extends 'base/base.html' %}
{% load static %}

{% block title %}Profile Details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/profile_details_page.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-page">

        <h1 class="profile-title">Profile Details</h1>

        <div class="profile-image-container">
            <img src="{{ user.profile_picture.url }}" alt="Profile Image" class="profile-image">
        </div>

        <ul class="profile-details-list">
            <li class="profile-detail-item"><strong>Username:</strong> {{ user.username }}</li>
            <li class="profile-detail-item"><strong>Email:</strong> {{ user.email }}</li>
            {% if user.first_name %}
                <li class="profile-detail-item"><strong>First Name:</strong> {{ user.first_name }}</li>
            {% endif %}
            {% if user.last_name %}
                <li class="profile-detail-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
            {% endif %}
        </ul>


        <ul class="profile-links-list">
            <li><a href="{% url 'user_dashboard' pk=request.user.pk %}" class="profile-link">User Dashboard</a></li>
            <li><a href="{% url 'profile_edit' pk=request.user.pk %}" class="profile-link">Edit Profile</a></li>
        </ul>
    </div>

{% endblock %}
