{% extends 'base/base.html' %}
{% load static %}

{% block title %}Profile Details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth/profile_edit.css' %}">
{% endblock %}


{% block content %}
    <h1>Profile Details</h1>

    <div>
        <img src="{{ user.profile_picture.url }}" alt="Profile Image" class="profile-image">
    </div>


    <ul>
        <li><strong>Username:</strong> {{ user.username }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
        {% if user.first_name %}
            <li><strong>First Name:</strong> {{ user.first_name }}</li>
        {% endif %}
        {% if user.last_name %}
            <li><strong>Last Name:</strong> {{ user.last_name }}</li>
        {% endif %}
    </ul>

    <ul>
        <li><a href="{% url 'user_dashboard' pk=request.user.pk %}">User Dashboard</a></li>
        <li><a href="{% url 'profile_edit' pk=request.user.pk %}">Edit Profile</a></li>
    </ul>


{% endblock %}
