{% extends 'base/base.html' %}
{% load static %}

{% block title %}User Registration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/register.css' %}">
{% endblock %}

{% block content %}
    <body class="register-body">
        <div class="page-container">
            <h1 class="register-heading">Register</h1>

            <div class="register-form-container">
                <form method="post" action="{% url 'register_user' %}" class="register-form">
                    {% csrf_token %}

                    <label for="{{ form.username.id_for_label }}" class="register-label">Username:</label>
                    {{ form.username }}

                    <label for="{{ form.email.id_for_label }}" class="register-label">Email:</label>
                    {{ form.email }}

                    <label for="{{ form.password1.id_for_label }}" class="register-label">Password:</label>
                    {{ form.password1 }}

                    <label for="{{ form.password2.id_for_label }}" class="register-label">Confirm Password:</label>
                    {{ form.password2 }}

                    <button type="submit" class="register-button">Register</button>
                </form>
            </div>

            <p class="login-link">Already have an account?
                <a href="{% url 'login_user' %}" class="login-anchor">Sign in here!</a>
            </p>
        </div>
    </body>
{% endblock %}
