{% extends 'base/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/user_liked_events.css' %}">
{% endblock %}

{% block content %}

    <div class="liked-events-content-wrapper">
        <div class="liked-events-content">
            <div class="liked-events-header">
                <h1>Liked Events</h1>
            </div>
            {% for like in liked_events %}
                <div class="event-card">
                    <div class="event-details">
                        <a href="{% url 'event_details' like.event.id %}" class="event-title">
                            <h2>{{ like.event.title }}</h2>
                        </a>
                        <p class="event-info">{{ like.event.date_and_time }}</p>
                        <p class="event-info">{{ like.event.location }}</p>
                    </div>
                    <div class="event-image-and-actions">
                        <a href="{% url 'event_details' like.event.id %}">
                            <img src="{{ like.event.image.url }}" alt="Event Image" class="event-image">
                        </a>
                        <span class="like-link-container">
                            <a href="{% url 'like_event' like.event.pk %}" class="like-link">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
