{% extends 'base/base.html' %}
{% block title %}User Dashboard{% endblock %}

{% block content %}
    <h1>User Dashboard</h1>
    <p>Welcome, {{ user.username }}!</p>

    <ul>
        <li><a href="{% url 'user_tickets' pk=user.pk %}">View Purchased Tickets</a></li>
        <li><a href="{% url 'liked_events' %}">Likes</a></li>
        <li><a href="{% url 'event_add' %}">Create an Event</a></li>
        <li><a id="user-created-events" href="{% url 'user_created_events' %}">Your Events</a></li>
    </ul>



{% endblock %}
