{% extends 'base/base.html' %}
{% load static %}

{% block title %}Your Created Events{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/user_created_events.css' %}">
{% endblock %}

{% block content %}
    <div class="user-created-events-wrapper">
        <div class="user-created-events-container">
            <div class="user-info-wrapper">
                <a href="{% url 'profile_details' pk=request.user.pk %}" class="user-info">
                    <img class="user-avatar" src="{{ user.profile_picture.url }}" alt="Profile Image">
                    <span class="username">{{ request.user.username }}</span>
                </a>
            </div>

            <h1 class="user-created-events-header">Your Created Events</h1>

            {% if user_created_events %}
                <ul class="user-created-events-list">
                    {% for event in user_created_events %}
                        <li class="user-created-event-item">
                            <a class="user-created-event-link"
                               href="{% url 'event_details' pk=event.pk %}">
                                <div class="event-item-header">
                                    <h2 class="event-title">{{ event.title }}</h2>
                                </div>
                                <div class="event-item-details">
                                    <p class="event-info"><span class="event-info-heading">Description:</span> {{ event.description }}</p>
                                    <p class="event-info"><span class="event-info-heading">Date and Time:</span> {{ event.date_and_time }}</p>
                                    <p class="event-info"><span class="event-info-heading">Venue:</span> {{ event.venue }}</p>
                                    <p class="event-info"><span class="event-info-heading">Organizer:</span> {{ event.organizer }}</p>
                                    <p class="event-info"><span class="event-info-heading">Category:</span> {{ event.category }}</p>
                                    <p class="event-info"><span class="event-info-heading">Contact Information:</span> {{ event.contact_information }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-events-message">You haven't created any events yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
