.home-page-container {
  position: relative;
}

.find-events {
  overflow: hidden;
  position: relative;
}

.find-events img {
  width: 100%;
  height: auto;
  max-height: 30em;
  object-fit: cover; /* This property ensures the entire image is visible */
  display: block;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f4f4f4; /* Set text color to contrast with the background */
}