.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #000; /* Black text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold; /* Bold font weight */
}

/* Add styles for the other links if needed */
