.user-purchased-tickets-container {
    overflow: hidden;
}

.user-purchased-tickets-title {
    color: #333;
}

.welcome-message {
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.6em;
    line-height: 1.2em;
}

.ticket-list {
    list-style: none;
    padding: 0;
}

.ticket-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.ticket-item:hover {
    transform: scale(1.02);
}

.event-label,
.ticket-type-label,
.total-quantity-label,
.price-per-ticket-label,
.refundable-quantity-label {
    color: #555;
    font-weight: bold; /* Add this line to make labels bold */
}


.no-tickets-message {
    font-style: italic;
    color: #555;
    text-align: center;
    margin-top: 4em;
}

.event-link {
    color: #333;
    text-decoration: none;
}

.event-link:hover {
    color: #777;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; /* Ensure the overlay is below the modal */
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.modal.active,
.overlay.active {
    display: block;
}

.overlay.active {
    z-index: 997;
}

.close {
    color: #555;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

#refundConfirmationText {
    margin-bottom: 1.3em;
}

.confirm-refund-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.8em;
    border: none;
    cursor: pointer;
}

.confirm-refund-button:hover {
    background-color: #45a049;
}
