.liked-events-content {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 18px;

}

.liked-events-header {
    margin-top: 10%;
}

.event-card {
    list-style: none;
    border: 2px solid rgba(221, 221, 221, 0.8);
    padding: 1.2em;
    margin-bottom: 1em;
    transition: box-shadow 0.3s ease;
    display: flex;
}

.event-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-image{
    width: 10em;
    height: 6em;
}

.event-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.event-title {
    margin: 0;
    color: #333;
    text-decoration: none;
}

.event-info {
    margin: 0;
}

.event-image-and-actions {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}


.like-link-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-link {
    text-decoration: none;
}

.like-link i {
    color: #d1410c;
    border-radius: 1em;
    border: 1px solid #333333;
    padding: 0.7em;
}

.like-link i:hover {
    background-color: #f5f5f5;
    color: #ff6666;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
        line-height: 2em;
    }

    .event-image-and-actions img {
        max-width: 5em;
        height: 4em;
    }
}
