.edit-event-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-event-container {
    max-width: 50%;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.edit-event-header {
    color: #333;
    text-align: center;
}

.edit-event-form,
.edit-ticket-section form {
    display: flex;
    flex-direction: column;
}

.edit-form-section,
.edit-ticket-section {
    margin-bottom: 20px;
}

.edit-ticket-section h2 {
    color: #e74c3c;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}

.edit-form-section input,
.edit-form-section select,
.edit-ticket-section label,
.edit-ticket-section input,
.edit-ticket-section select {
    width: 100%;
    padding: 0.8em;
    box-sizing: border-box;
    margin-bottom: 0.8em;
}

.edit-form-section textarea,
.edit-ticket-section textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


p input[type="checkbox"] {
    margin-top: 2em;
}

p label[for="image-clear_id"] {
    color: #e74c3c;
    cursor: pointer;
    font-weight: normal;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select2-container {
    width: 100% !important;
    min-width: initial !important;
}

.image-paragraph {
    overflow: hidden;
}