.event-details-container {
    width: 100%;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

.event-image-wrapper {
    width: 100%;
    background-image: url('/static/images/event_image_container_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.event-image-container {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.event-image {
    margin-top: 0.8em;
    max-width: 100%;
    height: auto;
    max-height: 37em;
    border-radius: 15px;
}

.event-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.actions-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-right: 20%;
    margin-top: 1em;
}

.like-container {
    display: inline-block;
    margin-bottom: 3em;
    align-self: flex-end;
}

.like-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.like-link.unlike {
    background-color: #dc3545;
}

.purchase-tickets-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.purchase-tickets-heading {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.purchase-button {
    font-weight: bold;
    width: 100%;
    padding: 1em;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.purchase-button:hover {
    background-color: #0056b3;
}

.event-info-container {
    max-width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.event-title-container {
    justify-content: space-between;
}

.event-title {
    color: #333;
}

.event-details {
    margin-top: 2em;
}

.event-info-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.event-info-heading {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.event-info-value {
    font-size: 1em;
    max-width: 66ch;
}
