{% extends 'base/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="home-page-container">
        <div class="find-events">
            <h1 class="welcome-message">Welcome to Event Search and Listing</h1>
            <img src="{% static 'images/home_page_first_section_background.jpg' %}" alt="Background Image">
            <!-- Add any additional content or links as needed -->
        </div>

        <div class="category-buttons">
            <a href="{% url 'events_by_category' 'Music' %}">Music</a>
            <a href="{% url 'events_by_category' 'Nightlife' %}">Nightlife</a>
            <a href="{% url 'events_by_category' 'Performing & Visual Arts' %}">Performing & Visual Arts</a>
            <a href="{% url 'events_by_category' 'Holidays' %}">Holidays</a>
            <a href="{% url 'events_by_category' 'Health' %}">Health</a>
            <a href="{% url 'events_by_category' 'Hobbies' %}">Hobbies</a>
            <a href="{% url 'events_by_category' 'Business' %}">Business</a>
            <a href="{% url 'events_by_category' 'Food & Drink' %}">Food & Drink</a>
        </div>

        <h2>All Events</h2>
        <ul>
            {% for event in events %}
                <li>
                    <a href="{% url 'event_details' event.id %}">{{ event.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
