{% extends 'base/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="home-page-container">
        <div class="find-events">
            <img src="{% static 'images/home_page_first_section_background.jpg' %}" alt="Background Image">
            <!-- Add any additional content or links as needed -->
        </div>

        <!-- Category Buttons -->
        <div class="category-buttons">
            <a href="{% url 'events_by_category' 'Music' %}">Music</a>
            <a href="{% url 'events_by_category' 'Nightlife' %}">Nightlife</a>
            <!-- Add more buttons for other categories as needed -->
        </div>

        <h2>All Events</h2>
        <ul>
            {% for event in events %}
                <li>
                    <a href="{% url 'event_details' event.id %}">{{ event.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
