.failure-container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.failure-wrapper {
    text-align: center;
}

.failure-title h1 {
    color: #333;
}

.failure-icon i {
    font-size: 10em;
    color: #cc0000;
    margin-bottom: 20px;
}

.failure-message {
    color: #555;
    margin-top: 10px;
}
