/* login.css */

body {
    max-width: 16%;
    margin: 10% auto;
    background-image: url("static/images/event-ideas-for-party-eventbookings.jpg");
    background-size: cover;
}

.custom-form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #f05537;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
}

button:hover {
    background-color: #882121;
}

