{% extends 'base/base.html' %}
{% load static %}
{% block title %}Transaction Failed{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/tickets/ticket_purchase_failure.css' %}">
{% endblock %}

{% block content %}
    <div class="failure-container">
        <div class="failure-wrapper">
            <div class="failure-title">
                <h1>Ticket Purchase Failure</h1>
            </div>

            <div class="failure-icon">
                <i class="far fa-circle-xmark"></i>
            </div>

            <div class="message-container">
                <h1 class="failure-message">{{ error_message }}</h1>

                {% if error_message == "Insufficient balance to purchase tickets." %}
                    <a href="{% url 'recharge_balance' pk=request.user.pk %}" class="recharge-link">
                        <button type="button" class="recharge-button">Recharge Balance</button>
                    </a>                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
