.add-event-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-event-content {
    max-width: 50%;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.add-event-header {
    color: #333;
    text-align: center;
}

.add-event-info form,
.add-tickets-section form {
    display: flex;
    flex-direction: column;
}

.add-event-info label,
.add-tickets-section label {
    margin-bottom: 5px;
}

.add-event-info input,
.add-event-info select,
.add-tickets-section input,
.add-tickets-section select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single {
    margin-bottom: 10px;
}

#toggleVipTickets {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#toggleVipTickets:hover {
    background-color: #c0392b;
}

#saveEventButton {
    width: 100%;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#saveEventButton:hover {
    background-color: #2980b9;
}

.select2-container {
    width: 100% !important;
    min-width: initial !important;
}

.add-event-info textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .add-event-content {
        max-width: 60%;
    }
}

