{% extends 'base/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events/event_add.css' %}">
    <script src="{% static 'scripts/event_add.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="add-event-wrapper">
        <div class="add-event-content">
            <h2 class="add-event-header">Add Event</h2>
            <div class="add-event-info">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <!-- Include form media for Django Autocomplete Light -->
                    {{ form.media }}
                </form>
            </div>

            <h3 class="add-tickets-header">Regular Tickets</h3>
            <div class="add-tickets-section">
                <form method="post" enctype="multipart/form-data">
                    {{ ticket_form.as_table }}

                    <h3 id="vip-tickets-header" style="display: none;">VIP Tickets</h3>
                    <div id="vip-tickets" style="display: none;">
                        {{ vip_ticket_form.as_table }}
                    </div>

                    <p>
                        <button type="button" id="toggleVipTickets">Add VIP Tickets</button>
                    </p>

                    <p>
                        <button type="submit" id="saveEventButton">Save Event</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
