{% extends 'base/base.html' %}

{% block content %}
  <h2>{{ event.title }}</h2>
  <p><strong>Description:</strong> {{ event.description }}</p>
  <p><strong>Date and Time:</strong> {{ event.date_and_time }}</p>
  <p><strong>Venue:</strong> {{ event.venue }}</p>
  <p><strong>Total Tickets:</strong> {{ event.total_tickets }}</p>
  <p><strong>Ticket Price:</strong> {{ event.ticket_price }}</p>
  <p><strong>Organizer:</strong> {{ event.organizer }}</p>
  {% if event.image %}
    <img src="{{ event.image.url }}" alt="Event Image">
  {% endif %}
  <p><strong>Category:</strong> {{ event.category }}</p>
  <p><strong>Contact Information:</strong> {{ event.contact_information }}</p>

{#  <a href="{% url 'event_edit' pk=event.pk %}">Edit Event</a>#}
{% endblock %}
