{% extends 'base/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events/event_details.css' %}">
{% endblock %}

{% block content %}
   <div class="event-details-container">
        <div class="event-info-wrapper">
            <div class="event-image-container">
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="Event Image" class="event-image">
                {% endif %}
            </div>
            <div class="info-tickets-wrapper">
                <div class="event-info-container">
                <div class="event-title-container">
                    <h1 class="event-title">{{ event.title }}</h1>
                </div>

                <div class="event-details">
                    <div class="event-info-row">
                        <h3 class="event-info-heading">Description:</h3>
                        <div class="event-info-value">{{ event.description }}</div>
                    </div>

                    <div class="event-info-row">
                        <h3 class="event-info-heading">Date and Time:</h3>
                        <div class="event-info-value">{{ event.date_and_time }}</div>
                    </div>

                    <div class="event-info-row">
                        <h3 class="event-info-heading">Venue:</h3>
                        <div class="event-info-value">{{ event.venue }}</div>
                    </div>

                    <div class="event-info-row">
                        <h3 class="event-info-heading">Organizer:</h3>
                        <div class="event-info-value">{{ event.organizer }}</div>
                    </div>

                    <div class="event-info-row">
                        <h3 class="event-info-heading">Category:</h3>
                        <div class="event-info-value">{{ event.category }}</div>
                    </div>

                    <div class="event-info-row">
                        <h3 class="event-info-heading">Contact Information:</h3>
                        <div class="event-info-value">{{ event.contact_information }}</div>
                    </div>
                </div>
            </div>
            <div class="actions-container">
                <div class="like-container">
                    {% if user.is_authenticated %}
                        <a href="{% url 'like_event' event.pk %}"
                           class="like-link {% if user_likes_event %}unlike{% endif %}">
                            {% if user_likes_event %}<i class="fa-solid fa-heart"></i>{% else %}
                                <i class="fa-regular fa-heart"></i>{% endif %}
                        </a>
                    {% else %}
                        <div class="login-message-container">
                            <p class="login-message">Login to like this event.</p>
                        </div>
                    {% endif %}
                </div>
                <div class="purchase-tickets-container">
                    <h3 class="purchase-tickets-heading">Purchase Tickets</h3>
                    <form method="post" action="{% url 'ticket_purchase' pk=event.pk %}">
                        {% csrf_token %}
                        <div class="purchase-form">
                            {{ purchase_form.as_p }}
                        </div>
                        <button type="submit" class="purchase-button">Buy</button>
                    </form>
                </div>
            </div>
            </div>

        </div>
    </div>
{% endblock %}
