{% extends 'base/base.html' %}

{% block title %}Your Created Events{% endblock %}

{% block content %}
    <h1>Your Created Events</h1>

    {% if user_created_events %}
        <ul>
            {% for event in user_created_events %}
                <li>
                    <a href="{% url 'event_details' pk=event.pk %}">{{ event.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't created any events yet.</p>
    {% endif %}
{% endblock %}
